<h1>{{msg}}</h1>
<input type="button" value="sendMsg" (click)="sendStudentMessage()" />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Marks</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let s of studentL">
      <td>{{s.sName}}</td>
      <td>{{s.marks}}</td>
      <td>{{s.city}}</td>
    </tr> -->
    @for(s of studentL; track s.sName){
      <tr>
        <td>{{s.sName}}</td>
        <td>{{s.marks}}</td>
        <td>{{s.city}}</td>
      </tr>
    }
  </tbody>
</table>